# Configuration files
.browserslistrc
.editorconfig
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc.js
.rspec
.rubocop_todo.yml
.rubocop.yml
.ruby-gemset
.ruby-version
.watchmanconfi
.npmrc
.yarnrc.yml

# Environment files
.env.ci
.env.development
.env.production
.env.production.sample
.env.test
.env.vagrant

# Directories
.bundle/
.devcontainer/
.github/
.husky/
.rubocop/
.ruby-lsp/
.vscode/

# Other files
.DS_Store
.foreman
.gitattributes